
body {
  background-color: beige;
}
/*.wrappper{
  @include clear;
  width:100%;
  margin:0 auto;*/
/*}*/
#guesses {
  text-align: right;
  padding-left: 3px;
}
#myguesses {
  text-align: left;
  padding: 0px;
}
.wrapper {
  font-size: 20px;
}

canvas{
  color: #ccccd0;
  border: $white dashed 2px;
  padding:15px;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 70px;
}

#wordspace {
  margin:0px;
  padding: 25px;
  border: solid 2px;
  font-size: 40px;
  text-align: center;
}

/*#myguesses {
  display: inline;
}*/

#directions {
  text-align: center;
}

.container {
  text-align: center;
}
.buttoncontainer {
  margin-top: 10px;
  margin-bottom: 10px;
}

#mywins {
  font: bold 20px green;
}
#mylosses {
  font: bold 20px green;
}
.panel-body {
  padding: 10px;
  background-color: white;
}
.panel {
  padding: 0px;
  text-align: center;
}
.panel-heading {
  padding: 10px;
}
